.Confirmation_Container {
  margin: 0 auto !important;
  max-width: 133rem !important;
  padding: 0 3rem !important;
}

.Confirmation_Content {
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  height: 95vh;
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  color: #000000;
  padding-top: 5rem;
}

.Confirmation_Content h1 {
  font-size: 4.2rem;
  margin-bottom: 3rem;
}
.Confirmation_Content__Text span {
  color: #1690f3;
  font-weight: 600;
}

.Confirmation_Content__Text p {
  color: #888888;
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: 3rem;
  line-height: 1.5;
}

.Confirmation_Content a {
  background-color: #1690f3;
  border: 2px solid #1690f3;
  border-radius: 5px;
  padding: 1rem 3rem;
  gap: 1rem;
  color: #ffffff;
  font-size: 2rem;
  width: 100%;
  max-width: 20rem;
  cursor: pointer;
}

.Confirmation_Content a:hover {
  background-color: #ffffff;
  color: #1690f3;
}
