.Team_Container {
  align-items: center;
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  margin: 0 auto;
  padding: 10rem 2rem;
  text-align: center;
  width: fit-content;
}

@media screen and (width >= 800px) {
  .Team_Container {
    gap: 6rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (width >= 1150px) {
  .Team_Container {
    gap: 10rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
