.FAQ_Section {
  padding: 10rem 0;
  background-image: url("../../assets/FAQ/FAQ.webp");
  background-repeat: no-repeat;
  background-position: 0 40%;
  background-size: cover;
  box-shadow: inset 0 0 15px 3px #ffffff;
}

.FAQ_Container {
  margin: 0 auto !important;
  max-width: 133rem !important;
  padding: 0 2.5rem !important;
}

.FAQ_Content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.FAQ_Content__Title {
  line-height: 1.25;
  margin: 0 auto;
  text-align: center;
  max-width: 60rem;
  width: 100%;
}

.FAQ_Content__Title h3 {
  font-size: 2.4rem;
  color: #4a9bdd;
}

.FAQ_Content__Title h2 {
  font-size: 3.6rem;
  margin-bottom: 1.5rem;
}

.FAQ_Content__Title p {
  font-size: 1.6rem;
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 3rem;
  line-height: 1.5;
}
