.Models_Container {
  margin: 0 auto !important;
  max-width: 133rem !important;
  padding: 0 1.5rem !important;
}

.Models_Container__Box {
  padding: 10rem 0;
  align-items: center;
  display: flex;
  gap: 4rem;
  margin: 0 auto;
  flex-direction: column;
}

@media screen and (width >= 800px) {
  .Models_Container__Box {
    display: grid;
    grid-template-rows: auto;
    gap: 6rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .Filter_Container {
    display: grid;
    grid-column: 1/ -1;
  }
}

@media screen and (width >= 1150px) {
  .Models_Container__Box {
    gap: 8rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
