.Plan_Section {
  background-color: #ffffff;
  padding: 6rem 0;
}

.Plan_Container {
  margin: 0 auto !important;
  max-width: 133rem !important;
  padding: 0 2.5rem !important;
}

.Plan_Content {
  display: flex;
  flex-direction: column;
}

.Plan_Content__Title {
  color: #000000;
  margin: 0 auto;
  text-align: center;
}

.Plan_Content__Title h3 {
  font-size: 2.4rem;
  font-weight: 600;
}

.Plan_Content__Title h2 {
  font-size: 4rem;
  margin: 1.5rem 0 3rem;
}

.PlanCard_Container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2.5rem 1.5rem 2.5rem 1.5rem;
  text-align: center;
}

@media screen and (width >= 630px) {
  .PlanCard_Container {
    display: grid;
    gap: 2.5rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
  .PlanCard_Container :nth-child(3) {
    grid-column: 1 / -1;
  }
}

@media screen and (width >= 1000px) {
  .PlanCard_Container {
    gap: 3.5rem;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 3.5rem;
    padding: 0 3rem;
  }
  .PlanCard_Container :nth-child(3) {
    grid-column: -2 / -1;
  }
}

@media screen and (width >= 1440px) {
  .PlanCard_Container {
    gap: 4rem;
  }
}
