.MobileApp_Section {
  background-image: url("../../assets/mobileapp/mobilebackground.webp");
  background-repeat: no-repeat;
  background-position: 25% 45%;
  background-size: cover;
  height: auto;
  padding: 14rem 0;
  width: 100%;
  box-shadow: inset 0 0 15px 3px #ffffff;
}
.MobileApp_Container {
  margin: 0 auto !important;
  max-width: 133rem !important;
  padding: 0 1.5rem !important;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.MobileApp_Content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  max-width: 45rem;
  text-align: center;
  margin-bottom: 4rem;
}

.MobileApp_Content h2 {
  font-size: 4.2rem;
  color: #1690f3;
}

.MobileApp_Content p {
  font-size: 1.6rem;
  color: #ffffff;
  line-height: 1.5;
  font-weight: 600;
}

.MobileApp_Buttons {
  display: flex;
  gap: 3.5rem;
  margin-top: 2rem;
  align-items: center;
  flex-direction: column;
}

.MobileApp_Buttons img {
  width: 20rem;
  transition: all 0.3s;
}

.MobileApp_Buttons img:hover {
  transform: scale(1.1);
}

@media screen and (width >= 550px) {
  .MobileApp_Buttons {
    flex-direction: row;
  }
}
