.Navbar {
  align-items: center;
  display: flex;
}

.Navbar__Links {
  display: flex;
  gap: 1.5rem;
  font-size: 2rem;
}

.Navbar__Links a:hover {
  color: #1690f3;
}

@media screen and (width <= 1000px) {
  .Navbar__Links {
    display: none;
  }
  .Navbar__Buttons {
    display: none;
  }
}
/* Mobile Navbar */

.Mobile__Hamburger {
  display: none;
}

@media screen and (width <= 1000px) {
  .Mobile__Hamburger {
    display: flex;
    position: absolute;
    right: 2rem;
    cursor: pointer;
    transition: 0.3s;
  }

  .Mobile__Hamburger:hover {
    color: #1690f3;
  }

  .Navbar__Links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    bottom: 0;
    top: -100%;
    width: 100%;
    height: 100vh;
    position: fixed;
    gap: 5rem;
    font-size: 3rem;
    transition: 1.5s;
    background-color: #ffffff;
  }

  .Open {
    top: 0;
  }
}
