.Navbar {
  display: none;
  align-items: center;
}

.Link {
  font-size: 1.6rem;
}
.Link_MemberArea {
  font-size: 1.6rem;
  background-color: #1690f3;
  color: #ffffff;
  border-radius: 25px;
  padding: 1rem 1rem;
}
.Link:hover {
  color: #1690f3;
}
.Link_MemberArea:hover {
  box-shadow: 0 0 10px 3px #1690f3;
  transition: 0.3s;
}

.Navbar li {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

@media screen and (width >= 768px) {
  .Navbar {
    display: flex;
  }
}
@media screen and (width >= 1024px) {
  .Link_MemberArea {
    padding: 1.25rem 2.25rem;
  }
  .Navbar li {
    gap: 2rem;
  }
}
@media screen and (width >= 1280px) {
  .Link {
    font-size: 1.8rem;
  }
  .Navbar li {
    gap: 3rem;
  }
  .Link_MemberArea {
    padding: 1.5rem 2.5rem;
    font-size: 1.8rem;
  }
}
