*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior:smooth;
  height: -webkit-fill-available;
}

body {
  background-color: #ffffff;
  position: relative;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: #000000;
}

a.active {
  color: #1690f3;
}

/* Custom Scrollbar */

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #1690f3 #ffffff;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #ffffff;
}

*::-webkit-scrollbar-track:hover {
  background-color: #ffffff;
}

*::-webkit-scrollbar-track:active {
  background-color: #ffffff;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #1690f3;
}
